:root {

    /* COLORS */
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;

    /* TEXTS */
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* ACCENTS */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    /* FONTS */
    --font-primary: "Open Sans", sans-serif;

    --font-size-base: 16px;
    --font-size-lg: 28px;
    --font-size-xl: 32px;
    --font-size-xxl: 36px;

    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about {
    width: 1200px;
    margin: 80px auto;
    padding: 80px;
    background-color: var(--background-default);
}

.container {
    max-width: 1120px;
    margin-bottom: 40px;
}

.container span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 64px;
    color: var(--text-headline);
}

h1 {
    font-size: var(--font-size-xxl);
    text-transform: capitalize;
    margin-bottom: 40px;
}

h2 {
    font-size: var(--font-size-xl);
}


.container img {
    width: 100%;
    object-fit: cover;
    border-radius: 28px;

}

.container + section {
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
}

img + p {
    padding: 24px;
    text-align: center;
    color: var(--text-tertiary);
}

h2 + p {
    margin: 8px auto 64px;
}

.place-items img {
    object-fit: fill;
    height: 350px;
}
